@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}
.nav_navdown{
  position:sticky;
  z-index: 1;
  top: 0px;
}
.nav_navdown>nav{
    background-color: white;
}
.anchor_box{
    align-items:flex-end;
}
.anchor_box>a{
    text-decoration: none;
    color: black;
    
}
.Dashboard_button{
    width: fit-content;
    padding: 4px;
    background-color: white;
    color:rgb(47,128,237);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 2px solid rgb(47,128,237);
    border-radius: 8px;
    align-items:center;
}
.login_button{
    color:white;
    background-color:rgb(47,128,237);
    transition: background-color 2s ease;  ;
}
.login_button:hover{
    /* transform:translateX(30px) ; */
    background-color: white;
    color:rgb(47,128,237);
}
#nav_downBar{
    width: 100vw;
    background-color:rgb(47,128,237);
    height: 40px;
}
.nav_downBarText{
    text-align: center;
    
}
.hero_section{
    position: relative;
    width: 92vw;
    height: auto;
    /* border: 2px solid black; */
}
.hero_left{
    width: 50%;
    /* border: 2px solid green; */
    
}
.hero_left>h1{
    font-weight:700;
}
.hero_left>h1>span{
    color:rgb(47,128,237);
}
.gradient_text{ 
    /* font-size: 72px; */
    background: -webkit-linear-gradient(rgb(47,128,237),rgb(159,94,240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.students_placed{
    /* border: 1px solid grey; */
    flex: 1;
}
.students_placed>img{
    padding-left: 5px;
}
.company_Achievments{
    width: 100%;
    border: 1px solid lightgrey;
    padding-top: 5px;
    border-radius: 5px;

}
.jpg_caption{
    font-size: medium !important;
    font-weight: 700 !important;
    text-align: left;
    padding-left: 5px;
}
.achievement_block>p{
    font-size: 13px;
    /* padding-left: 5px; */
}
.accio_known{
    width: 90%;
    padding-top: 25px;
   
    /* border: 2px solid red; */
}
.outer_known{
   width: 45%;
    align-items: center;
    justify-content: space-evenly;
}
#linkedin{
    display: flex;
    background-color: #0077B5;
    border-radius: 30px;
    overflow: hidden;
    color: white;
   
}
#linkedin>p{
    font-weight: 700 !important;
    padding-top: 15px;
}
#accio_student_made{
    color: gray;
    font-weight: 700;
    background-color: white;
    text-align: center;
    padding-top: 15px;
    border-radius: 30px;
    box-shadow: 2px 2px 12px gray;
   width: 60%;
    
}
.hero_right{
    width: 50%;
    /* border: 2px solid blue; */
    justify-content: center;
}
.input_section{
    width: 70%;
    border-radius: 20px;
    /* border: 1px solid grey; */
    box-shadow: 10px 10px 10px 30px #FFECEC;
}
.input_section>h3{
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 900;
}
.input_section>h3>span{
    color: #0077B5;
    font-weight: 600!important;
}
.input_section>p{
    padding: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: grey;
   
}
.hero_right_form{
    /* border: 2px solid red; */
    width: 90%;
    height: 60px;
    padding-left: 30px;
    margin-left: 20px;
    color: gray;
    border-radius: 10px;
}
.hero_right_form>input{
    border: none;
    width: 90%;
    /* /* border-style: none; */
}

.hero_right_form>.fa-solid{
    padding-right: 15px;
    padding-top: 5px;
}
input:focus {
    outline:none;
}
.form2{
    padding-left: 10px !important;
    color: black;
}
.form2>.fa-solid{
    padding-left: 10px;
}
.apply_for_freeBTN{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    margin: 20px;
    font-weight: 700;
    color: white;
    border: none;
    background: rgb(61,118,237);
    background: linear-gradient(90deg, rgba(61,118,237,1) 29%, rgba(142,56,237,1) 66%); 
}
.click_para{
    padding-top: 5px !important;
}
.terms12_condition{
    padding-top: 1PX;
   padding-left: 150px;
}
#student_testimony{
    padding-left: 50px;
    font-size: large;
    font-weight: 600;
}
.Student_Reviews{
    color: #0077B5;
    font-weight: 600!important;
}
.head_student_review{
    font-weight: 600;
}
.card1{
    width: 645px;
    height: 402px;
   
    border-radius: 20px;
    overflow: hidden;
}
.Outer_card{
    /* margin-left: 10px;
    margin-top: 20px;
    /*  */
    width: auto;
    display: flex;
    /* white-space: nowrap; */
    overflow-x: scroll;
}
.sec1{
    width: 224px;
    background-color:rgb(254,186,181);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.sec2{
    width: 421px;
    padding: 20px;
    background-color: white;
}
.student_name{
    font-weight: 700;

}
.social_media{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(1,37,85);
    color: white;
    font-size: x-large;
}
.social_media>i{
    padding-left: 15px;
    padding-top: 12px;
}
.image_div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.button_box>button{
    color: white;
    background-color:rgb(255,113,105) ;
    width: fit-content;
    padding: 5px;
    height: 40px;
    font-size: small;
}
.student_dis{
    font-size: x-small;
    word-wrap: wrap !important;
}